@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 80px;
}
/*
img {
  height: 150px;
  width: 100px;
} */

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}
.content .textBox p {
  color: #333;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #746374;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 40px;
}

.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.content .imgBox img {
  max-width: 340px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 60px;
}

.sci {
  list-style: none;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px); 
}

.drop{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	display: none;
	z-index:999;
}

.drop > li > a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 15px;
	font-family: sans-serif;
	font-size: small;
	background-color: black;
}

.drop > li > a:hover{
	background-color: orange;
} 

.main-menu > ul >li:hover .drop{
	display: block;
}

.footer-box {
    display: block;
	width: 237.5px;
	height: 150px;
	float: right;
	font-family: sans-serif;
}


.footer-box > ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.footer-box > ul > li > a{
	display: block;
	margin-bottom: 5px;
	font-size: small;
	color: white;
	text-decoration: none;
}

.footer-box > address > a{
	color: teal;
	font-size: small;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }
  header .logo {
    max-width: 60px;
  }
  header ul {
    display: none;
  }
  section {
    padding: 20px;
  }
  .content {
    flex-direction: column;
    margin-top: 100px;
  }

  .content .textBox h2 {
    font-size: 2.2em;
  }
}
